%h1 Welcome to the user list!

%div.users
	%table#userTable.tablesorter
		%thead
			%tr
				%th
					First Name
				%th
					Last Name
				%th{ colspan: 3 }
	
		%tbody#userBody
			= render @users

	= link_to('New User', new_user_path)
= paginate @users

:javascript
	jQuery(document).ready(function() {
		jQuery('#userTable').tablesorter();
	});
